<!DOCTYPE html>
<html>
    <head>
        <title>Arkkan Portfolio</title>
        <link href="styles/navbar.css" rel="stylesheet" />
        <link href="styles/about.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="navbar__container">
            <div class="navbar__title__container">
                <div class="navbar__title">
                    <h2><a href="/">Arkkan</a></h2>
                </div>
            </div>
            <div class="navbar__links__container">
                <a href="/projects" class="navbar__links">Projects</a>
                <a href="/about" class="navbar__links">About Me</a>
                <a href="/contact" class="navbar__links">Contact</a>
            </div>
        </div>

        <div class="main__container">
            <div class="main__panel">
                <div class="main__picture">
                </div>
                <div class="main__info">
                    <h3>Arkkan El-Khatib</h3>
                    <h4>Software Developer</h4>
                    <h5>BCS: Computer Science</h5>
                    <h5>Carleton Unversity</h5>
                </div>
                <ul class="main__desc">
                    <li>
                        Languages include Java, Python, JavaScript, C and C++
                    </li>
                    <li>
                        Able to use Microsoft Windows as well as Linux-Based Operating Systems
                    </li>
                    <li>
                        Adept knowledge of Data Structures and Algorithms
                    </li>
                    <li>    
                        Experience applying programming frameworks such as Java Spring, React and Django
                    </li>
                    <li>
                        Knowledge of the Object-Oriented programming paradigm
                        and applying the Model-View-Controller (MVC) design
                        model
                    </li>
                    <li>
                        Experience working with SQL databases (SQLite, PostgreSQL)
                        and NoSQL databases (MongoDB) 
                    </li>
                    <li>
                        Knowledge implementing Object Relational Mappings (ORMs) within Java,
                        JavaScript, and Python to easily incorporate databases with applications
                    </li>
                    <li>
                        Interested in Full-Stack Web Development, Database Design,
                        as well as Web Security
                    </li>
                    <div class="main__links">
                        <a class="main__links__github" href="https://github.com/ArkkanElkhatib" target="_blank"></a>
                        <a class="main__links__linkedin" href="https://www.linkedin.com/in/arkkan-el" target="_blank"></a>
                    </div>
                </ul> 
            </div>
        </div>
    </body>
</html>
