<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Arkkan Portfolio</title>
        <link href="styles/navbar.css" rel="stylesheet" />
        <link href="styles/index.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="navbar__container">
            <div class="navbar__title__container">
                <div class="navbar__title">
                    <h2><a href="/">Arkkan</a></h2>
                </div>
            </div>
            <div class="navbar__links__container">
                <a href="/projects" class="navbar__links">Projects</a>
                <a href="/about" class="navbar__links">About Me</a>
                <a href="/contact" class="navbar__links">Contact</a>
            </div>
        </div>

        <div class="hero__container">
            <div class="hero__heading">
                Welcome
            </div>
        </div>
    </body>
</html>
